<header class="header">
  <div class="brand">
    <h1>VGDB</h1>
  </div>

  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/products">Products</a>
  </nav>

  <div class="search-container">
    <form>
      <input type="text" id="search" name="search" placeholder="Search Products..." />
      <button type="button">Search</button>
    </form>
  </div>
</header>
