<header class="header">
  <a href="/" class="brand">
    <h1>VGDB</h1>
  </a>

  <nav class="navbar">
    <a href="/" class="nav-link">Home</a>
    <a href="/categories" class="nav-link">Categories</a>
    <a href="/products" class="nav-link">Products</a>
  </nav>

  <div class="search-container">
    <form>
      <input type="text" id="search" name="search" placeholder="Search Products..." />
      <button type="button">Search</button>
    </form>
  </div>
</header>
