<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <h1>All Categories</h1>
      <a href="/categories/newCategory">Add Category</a>
      <ul>
        <% categories.forEach(category => { %>
        <li><%= category.name %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
