<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <h1>All Products</h1>
      <a href="/products/newProduct">Add Product</a>
      <ul>
        <% products.forEach(product => { %>
        <li><%= product.name %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
