.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--black);
  padding: 10px 50px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.brand {
  width: fit-content;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}
