.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  flex: 1;
}

.hero > h1 {
  font-size: 3.5rem;
}

.hero > p {
  font-size: 1.5rem;
}

.hero-nav {
  display: flex;
  gap: 30px;
}

.hero-nav-link {
  display: flex;
  border: 2px solid var(--black);
  border-radius: 50px;
  padding: 15px;
  background-color: var(--black);
  color: white;
  font-weight: bold;
}
