.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero > h1 {
  font-size: 3.5rem;
}

.hero > p {
  font-size: 1.5rem;
}

.hero-links {
  display: flex;
  gap: 30px;
}

.hero-links a {
  display: flex;
  border: 2px solid black;
  border-radius: 50px;
  padding: 15px;
  background-color: black;
  color: white;
}
